* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("../assets/images/liquid-cheese.svg") no-repeat;
    background-size: cover;
}

.nes-container.register {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    width: 800px;
    background-color: #F0F0F0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nes-container.register .title {
    margin-top: 10px;
    font-size: 20px;
}

.nes-field .nes-input {
    margin-bottom: 10px;
    padding: 0;
    width: 400px;
    height: 40px;
    font-size: 15px;
}

.nes-field label {
    margin-top: 10px;
}

.nes-btn {
    margin-top: 20px !important;
}

.is-member {
    margin-top: 30px;
    font-size: 13px;
}

.is-member a {
    color: #fd7b97;
}

.is-member a:hover {
    text-decoration: none;
    color: #fa4c72;
}

.gatinho-sentado {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 0;
    right: -3%;
}

.loading {
    display: none;
    margin: 10px 0;
}

.loading img {
    height: 50px;
}

.card_erro {
    display: none;
}

.nes-balloon {
    position: absolute !important;
    width: 200px !important;
    bottom: 30%;
    right: 10%;
    font-size: 13px;
}



